@charset "utf-8";
/* CSS Document */		
body{
	background:#b5e2e8;
	font-family:Georgia, seri;
	size:12px;
	margin:0;
	padding:0;
}
#login_back{
		width:490px; height:410px;
		background-image:url(../images/login_forms.png);
	}
#msg{
	widows:490px; height: 20px;
	padding: 90px 0 115px 0;
	text-align:center;
	color:#000;
	bor
	}
#login_form{
		width:490px; height:205px;
	}
.clear{ 
	clear: both; 
	margin:0;
	padding:0;
	height:0;
	}
.fields{
	padding:6px;
	border:1px #CCC solid;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	background:#FFF;
	color:#00F;
}
.button	{ 
	background: repeat-x top center; 
	border: 1px solid #999;
	-moz-border-radius: 5px; 
	padding: 7px; color: #141414; 
	font-weight: bold;
	-webkit-border-radius: 5px; 
	font-size: 13px;  
	width: 70px; 
	margin: -15px 0 0 330px;
}
.button:hover{ 
	background: #0000CC; 
	color: #D6D6D6; 
}

#space_div{
		height:23px;
	}
form{ 
	width: 490px; margin:auto; 
}

legend{ 
	display: none; 
}

fieldset{ 
	border: 0; 
}

label{ 
	width: 125px; 
	text-align: right; 
	float: left; 
	margin: 0 20px 0 0;
	padding: 9px 0 0 0; 
	font-size: 16px; 
}

input{ 
	width: 260px; 
	di: block; 
	padding: 4px; 
	margin: 0 0 15px 0; 
	font-size: 18px;
	color: #3a3a3a; 
	font-family: Georgia, serif;
}
input[type=checkbox]{ 
	width: 20px; margin: 0; 
	display: inline-block; 
}
					  